

    body {font-family: "Roboto", sans-serif}
    .w3-bar-block .w3-bar-item {
      padding: 16px;
      font-weight: bold;
      background-color: gray;
    }


  .page-container{
    width: 100%;
    max-width: 1500px;
    background: url('images/Aform1.jpg') no-repeat center center fixed;
    opacity: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
   /* overflow-y: scroll; */
}

.mySidebar .logo img{
   height: 75px;
}

.Media{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}
.Media_Dept, .Media_Position{
  font-size: 15px;
}

.mySidebar .Home a{
  font-size: 40px;
}
/*
.grid_row{
  display: grid; 
  grid-template-columns: 700px 500px;
  border: 2px red;
}  */
.grid_row{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  border: 2px red;
}
.HRcontainer, .Marketingcontainer{
   margin-left: 400px;
   border: 2px red;
}
.grid_row .HRcontainer h2 a:hover{
   color: blue;
}
.About_container{
  margin-left: 300px;
  padding-left: 100px;
  background-color: rgb(159, 159, 236);
}

   
@media (max-width: 500px){
  .mySidebar{
    width:100px;
  }
  .Media{
    font-size: 10px;
  }
  .Media_Dept, .Media_Position{
    font-size: 12px;
  }
  

	.HRcontainer, .Marketingcontainer{
    margin-left:130px;
    padding: 10px;
    font-size: 10px;
    
  }
  .HRcontainer a{
    font-size: 14px;
    font-weight: bold;
    padding: 25px;
  }
  .About_container {
    margin-left: 160px;
    padding-left: 0px;
    font-size: 10px;
    width: 160px;
  }
  .About_container h4{
    font-size: 14px;
    padding-left: 15px;
  }
  .Marketingcontainer a{
    font-size: 14px;
    font-weight: bold;
    padding: 25px;
  }
}
